.catalogItemThumbnail {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: 50% 50%;
}

@media (max-width: 768px) {
  :global(.row).catalogItemRow {
      width: fit-content !important;
      justify-content: center;
  }
}

@media (max-width: 576px) {
  :global(.row).catalogItemRow {
      width: 100%;
  }
}